m4/
aclocal.m4
ar-lib
autom4te.cache/
compile
configure
install-sh
missing
*~
*.swp
*.bak
config.h
config.h.in
config.log
config.guess
config.rpath
config.sub
config.status
mkinstalldirs
ABOUT-NLS
depcomp
Makefile.in
Makefile.in.in
Makefile
stamp-h1
.deps
ChangeLog
rquota.c
rquota.h
*.o
rquota_clnt.c
convertquota
edquota
quot
quota
quotacheck
quotaon
quotastats
quotasync
repquota
rpc.rquotad
setquota
warnquota
xqmstats
libquota.a
librpcclient.a
*.tar.*
